@import './theme/common';

.productthumbnail_qty_addtocart {
  $block: &;


  text-align: left;
  //margin-bottom: 40px;
  display: table-row;
  border-top: 1px solid $mainBorderColor;
  border-bottom: 1px solid $mainBorderColor;
  border-collapse: collapse;

  #{$block}__imgcontainer {
    width: 160px;
    height: 160px;
  }

  #{$block}__quantity {
    display: table-cell;
    width: 4em;
    padding-right: 1em;
  }

  #{$block}__availability {
    display: table-cell;
    width: 120px;
  }

  #{$block}__atc_button {
    display: table-cell;
    width: 2em;
    text-align: center;
  }

  #{$block}__epform__input {
    width: 4em;
    margin: 0.5em;
  }

  #{$block}__name {
    display: table-cell;
    margin-top: 10px;
    font-size: $sizeInitial;
    font-weight: bold;
    text-align: left;
    width: auto;

    #{$block}__namelink {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  #{$block}__price {
    display: table-cell;
    margin-top: 10px;
    font-size: $sizeInitial;
    font-weight: bold;
    text-align: right;
    width: 8em;
  }

  #{$block}__sku {
    display: table-cell;
    margin-top: 10px;
    font-size: $sizeSmall;
    text-align: left;
    width: 15em;
  }

  #{$block}__comparecheck {
    display: table-cell;
    margin-top: 10px;
    font-size: smaller;

    label {
      display: flex;
      align-items: center;
    }
  }

  .productmainimage {
    height: 160px;
    width: 160px;
    border: 1px solid $secondBorderColor;
  }

  @media (min-width: $tabletSmallWidth) {
    #{$block}__imgcontainer {
      width: 180px;
      height: 180px;
    }

    .productmainimage {
      height: 180px;
      width: 180px;
    }
  }
}
