@import './theme/common';

.productthumbnail_qty_addtocart {
  $block: &;

  width: 100%;
  display: table;
  #{$block}__productlist_qty_addtocart__product {
    display: table-row;
  }
  border-collapse: collapse;

  
  #{$block}__item {
    text-align: left;
    display: table-row;
    //border-collapse: collapse;
    border-top: 1px solid $mainBorderColor;
    border-bottom: 1px solid $mainBorderColor;
  }

  #{$block}__bottom_row {
    text-align: left;
    display: table-row;
  }

  #{$block}__imgcontainer {
    display: table-cell;
  }

  #{$block}__empty_cell {
    display: table-cell;
  }

  #{$block}__quantity {
    display: table-cell;
    width: 4em;
    padding-right: 1em;
  }

  #{$block}__availability {
    display: table-cell;
    width: 120px;
  }

  #{$block}__atc_button {
    display: table-cell;
    width: 2em;
    text-align: center;
  }

  #{$block}__epform__input {
    width: 4em;
    margin: 0.5em;
  }

  #{$block}__name {
    display: table-cell;
    margin-top: 10px;
    font-size: $sizeInitial;
    font-weight: bold;
    text-align: left;
    width: auto;

    #{$block}__namelink {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  #{$block}__price {
    display: table-cell;
    margin-top: 10px;
    font-size: $sizeInitial;
    font-weight: bold;
    text-align: right;
    width: 8em;
    padding-right: 1em;
  }

  #{$block}__sku {
    display: table-cell;
    margin-top: 10px;
    font-size: $sizeSmall;
    text-align: left;
    width: 15em;
  }

  #{$block}__comparecheck {
    display: table-cell;
    margin-top: 10px;
    font-size: smaller;

    label {
      display: flex;
      align-items: center;
    }
  }

  .productmainimage {
    // height: 160px;
    width: 60px;
    border: 1px solid $secondBorderColor;
  }

  @media (min-width: $tabletSmallWidth) {
    #{$block}__imgcontainer {
      //height: 60px;
      width: 60px;
    }

    .productmainimage {
      //height: 60px;
      width: 60px;
    }
  }
}
